.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--dull-blue);
    padding: 1rem;
    align-items: center;
    background-color: var(--dull-blue);
    color:white
}
.navbar-wrapper div:nth-child(1){
    font-size: xx-large;
}
.navbar-wrapper div:nth-child(2){
    flex-basis: 65%;
}
.navbar-wrapper div:nth-child(2) input{
    width:100%;
    padding: 10px;
}
.search-bar{
    position: relative;
}
.movies-suggestion{
    position: absolute;
    background-color: whitesmoke;
    font-size: medium;
    color:black;
    width: 100%;
    max-height: 380px;
    overflow: auto;
    
}
.movie-result{
    font-size: medium;
    display: block;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-bottom: 1px solid black;
    border-radius: 10px;
}