.movie-details-wrapper{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0 auto;
   margin-top: 3rem;
}

.movie-details{
   color:var(--font-color-inverted);
   flex-basis: 50%;
   font-size: x-large;
   display: flex;
   flex-direction: column;
   gap: 2rem;
  
}